<!--<p>Inicio / Libros / Sobre nosotros</p>-->
<div class="header">
    <img src="assets/img/logo.png" class="logo">
    <button type="button" class="btn btn-primary" [routerLink]="['/']" routerLinkActive="myclass" [routerLinkActiveOptions]="{exact: true}">Inicio</button>  
    <button type="button" class="btn btn-primary"  [routerLink]="['/listado-libros']" routerLinkActive="myclass" [routerLinkActiveOptions]="{exact: true}">Listado libros</button>  
    <button type="button" class="btn btn-primary"  [routerLink]="['/sobre-nosotros']" routerLinkActive="myclass" [routerLinkActiveOptions]="{exact: true}">Sobre nosotros</button>  
</div>
 <h3>
     Libros vistos
 </h3>
 <ul *ngIf="librosVistos.verListado()">
     <li *ngFor="let libro of librosVistos.verListado()">{{libro.titulo}}</li>
 </ul>
 
